<div data-name="question_content" 
     class="{{#if editable}}editable{{/if}}{{#unless question_content }} missing{{/unless}}"
     >{{#if question_content}}{{{ question_content }}}{{else}}{{#if editable }}Click to add question-content{{else}}&nbsp;{{/if}}{{/if }}
</div>
