<div data-name="question_category" 
     class="{{#if editable}}editable{{/if}}{{#unless question_category }} missing{{/unless}}"
     >{{#if question_category}}{{{ question_category }}}{{else}}{{#if editable }}Click to add question category{{else}}&nbsp;{{/if}}{{/if }}
</div>
